body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #282c34;
  color: #fff;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  color: #d32174;
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.searh-bar button:hover, .searh-bar button:focus {
  opacity: 0.1;
}

.search-bar input,
.search-bar select,
.search-bar button {
  font-size: medium;
}

.about {
  text-align: center;
  color: #fff;
  background-color: #131313;
  padding: 20px;
  border-radius: 8px;
  margin: 50px 100px 10px 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about h2 {
  color: #d32174;
    text-decoration: none;
    text-shadow: 0 0 5px #d32174,
                 0 0 10px #d32174,
                 0 0 20px #d32174,
                 0 0 40px #d32174,
                 0 0 80px #d32174;
}

.map-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.Mapspot {
  position: relative;
  height: 70vh;
  width: 100%;
  border: 5px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  color: #d32174;
}


@media (max-width: 1200px) {
  .about {
    margin: 40px 80px 10px 80px;
  }
}

@media (max-width: 992px) {
  .about {
    margin: 30px 60px 10px 60px;
  }
  .search-bar {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .about {
    margin: 20px 40px 10px 40px;
  }
  .search-bar input,
  .search-bar select,
  .search-bar button {
    width: 100%;
    font-size: small;
  }
}

@media (max-width: 576px) {
  .about {
    margin: 10px 20px 10px 20px;
    padding: 10px;
  }
  h2 {
    font-size: 1.5em;
  }
  .search-bar {
    flex-direction: column;
    gap: 5px;
  }
  .search-bar input,
  .search-bar select,
  .search-bar button {
    width: 100%;
    font-size: small;
  }
  .Mapspot {
    height: 50vh;
  }
}

