@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

.NavBar, .Title a, .NavLinks a {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
}


.NavBar {
    font-family: "Jersey 15", sans-serif;
    width: 100%;
    position: fixed;
    top: .9em;
    left: 0;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}

.Title a {
    font-size: 1.5em;
    font-weight: 500;
    color: #d32174;
    text-decoration: none;
}

.NavLinks {
    display: flex;
    gap: 1.5em;
}

.NavLinks a {
    font-size: 1.3em;
    color: #d32174;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.NavLinks a:hover, .NavLinks a:focus {
    opacity: 0.7;
}
